DATABASE_URL=mysql://root:example@localhost:3306/rscms
RUST_LOG=debug
SERVER_HOST=127.0.0.1
SERVER_PORT=8081
JWT_SECRET=your-super-secret-and-ultra-long-secret-key

# SMTP Configuration
SMTP_HOST=smtphz.qiye.163.com
SMTP_PORT=465
SMTP_USERNAME=your-email@example.com
SMTP_PASSWORD=your-email-password
SMTP_FROM_EMAIL=your-email@example.com
